.square-wrapper {
  display: flex;
}

.color-square {
  width: 4.375em;
  height: 4.375em;
  margin: 3px;
  float: left;
  border-radius: 5px;
}

.hex {
  position: relative;
  top: 3px;
  display: inline-block;
}