.grid-wrapper{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	z-index: 1;
}
.input-title{
	line-height: normal;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	max-width: 50ch;	
}
.input-area{
	border: 0;
	grid-column: 1 / span 2;
	grid-row: 1 / 3;
	margin-left: 12.5px;
	width: auto;
	height: auto;
}

.palette{
	margin-left: 0.5%;
	align-items: center;
	grid-row: 1 /3 ;
	/* justify-content: center; */
	vertical-align: top;
	display: inline-block;
	clear: both;
}
.bg-square{
	vertical-align: middle;
}
.input-image{
	width: 32.7vw;
	/* height: 65.3vh; */
	height: 67.6vh;
	/* height: 525px; */
	border-radius: 15px;
}

.output-area{
	grid-column: 3/ 4;
	grid-row: 1/3;
	/* margin-right: 15px; */
	margin-right: 12.5px;
}
.spinner{
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding-right: 5px;
}
.done{
	visibility: hidden;
	width: 20px;
	height: 20px;
	padding-right: 5px;
}
.output-text{
	display: inline-block;
	/* vertical-align: middle; */
}
@media only screen and (min-device-width : 900px) and (max-device-width : 1280px)/* iPads and Lenovo X201 */ {
	/* *{
		font-size: 99%;
	}
	.input-image{
			width: 450px;
			height: 450px;
		}
		.CodeMirror{
			width: 600px;
			height: 450px;
		}
		.output {
			margin-right: 10px;
		} */
	} 


.dice{
	margin-left: 4.5%;
	vertical-align: top;
	display: inline-block;
	width: 45px;
	height: 45px;
	transition: all 190ms ease;
	cursor: pointer;
}
.dice:hover{
	transform: scale(1.1);
}
.theme-name{
	border: 0;
	outline: 0;
	width: 10vw;
  background: transparent;
	border-bottom: 2px solid #000;
	margin-left: 5%;
	margin-right: 4.5%;
}
input[type="checkbox"]{
	margin-left: .75%;
}
.arrow{
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	width: 30px;
	height: 30px;
	margin-left: 13px;
	transition: all 190ms ease;
	cursor: pointer;
	position: relative;
	bottom: 18px;
}
.arrow:hover{
	transform: scale(1.1)
}
.text-waiting{
	opacity: .28;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) /* Quick patch for phone displays */ {
	.grid-wrapper{
		font-size: 12px;
	}
	.input-image, .CodeMirror{
		width: 93.6vw;
		height: 485px;
	}
	input[type="text"]{
		-webkit-appearance: none !important;
		-webkit-border-radius:0; 
    border-radius:0;
		background-clip: padding-box;
		box-shadow: none !important;
		width: 150px;
	}
	.output-area{
		margin-right: 4%;
		margin-left: 4%;
	
	}
}